/* #region Common */
/* Root */
 :root
{
  --ds_dark: #000000;
  --ds_nav: #DAA520;
} 

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #endregion Common */

/* #region Utility Classes */
/* #endregion Utility Classes */

/* #region Header */
.flex_container {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
}

.debug #app_header {
    height: 5rem;
    background-color: #ADD8E6;
    border: 1px solid red;
}

.debug .flex_container {
    border: 1px dashed var(--ds_dark);
}

.flex_container {
  background-color: var(--ds_nav);
}

nav ul {
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  padding: .5rem;
}

#logo, 
#login {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #endregion Header */

/* #region Main */
/* #endregion Main */

/* #region Footer */
/* #endregion Footer */


