/* #region Common */
/* Root */
:root {
  --ds_dark: #000000;
  --ds_light: #ffffff;
  --ds_gray: #D3D3D3;
  --ds_nav: #daa520;
  --ds_blu-dark: #00008b;
  --ds_grennwater: #20B2AA;
  --ds_light-green: #7FFFD4;
  --ds_lavanda: #ee82ee;
  --ds_pink: #FFB6C1;
  --ds_dark-lavanda: #F08080;
  --ds_primary: #1e90ff;
  --ds_secondary: #ffc0cb;
  --height_section: 25rem;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #endregion Common */

/* #region Utility Classes */
.flex {
  display: flex;
}

/* #endregion Utility Classes */

/* #region Header */
.container {
  margin: 1rem auto;
  width: 1140px;
}

.debug #app_header {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  justify-content: center;
  align-items: center;
  background-color: #add8e6;
}

.debug .container {
  border: 2px dashed var(--ds_dark);
}

nav {
  background-color: var(--ds_nav);
  justify-content: space-between;
}

nav ul {
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  column-gap: 1rem;
  border-left: 2px dashed var(--ds_dark);
  border-right: 2px dashed var(--ds_dark);
}

nav ul li a {
  text-decoration: none;
  /* padding: .5rem; */
}

#logo {
  justify-content: flex-start;
}

#login {
  justify-content: flex-end;
}

#logo,
#login {
  display: flex;
  align-self: center;
  margin: 0.7rem 0.5rem;
  flex-grow: 1;
}
/* #endregion Header */

/* #region Main */
/* #region Blu */
#section_1 {
  background-color: var(--ds_blu-dark);
  height: var(--height_section);
}

.small_container {
  background-color: var(--ds_lavanda);
  width: calc((100% / 12) * 6);
  height: 20rem;
  margin: 2.5rem auto;
  border: 2px dashed var(--ds_dark);
}
/* #endregion Blu */

/* #region White */
.debug #section_2 {
  background-color: var(--ds_light);
  height: var(--height_section);
  margin: 2.5rem auto;
  justify-content: center;
}

.blue_container {
  background-color: var(--ds_primary);
  flex-grow: 2;
  height: 23rem;
  border: 2px dashed var(--ds_dark);
}

.pink_container {
  background-color: var(--ds_secondary);
  flex-grow: 1;
  height: 23rem;
  border: 2px dashed var(--ds_dark);
}
/* #endregion White */

/* #region Gray */
.debug #section_3 {
  background-color: var(--ds_gray);
  height: var(--height_section);
}

#section_3 {
  background-color: gray;
  margin-top: 2rem;
}

#section_5 {
  background-color: var(--ds_gray);
}

.big_container {
  width: calc((100% / 12) * 8);
  height: 40rem;
  background-color: green;
  margin: 2.5rem auto;
  border: 2px dashed var(--ds_dark);
}
/* endregion Gray */
/* #endregion Main */

/* #region Footer */
.debug footer {
  background-color: var(--ds_dark);
}

#footer_top {
  border-bottom: 5px solid var(--ds_gray);
}

.dark_pink-container {
  background-color: var(--ds_dark-lavanda);
  flex-grow: 2;
  height: 23rem;
  border: 2px dashed var(--ds_dark);
  margin-bottom: 1.5rem;
}

.greenwater_container {
  background-color: var(--ds_grennwater);
  flex-grow: 1;
  height: 23rem;
  border: 2px dashed var(--ds_light);
}

#footer_top .big_container {
  margin-top: 0.6rem;
}

#footer_bottom .container{
  background-color: var(--ds_light-green);
}

#footer_bottom #logo,
#footer_bottom #button {
  background-color: var(--ds_pink);
  flex-grow: 1;
}
/* #endregion Footer */
