/* #region Common */
/* Root */
 :root
{
  --ds_dark: #000000;
  --ds_nav: #DAA520;
  --ds_blu-dark: #00008B;
  --ds_lavanda: #EE82EE;
  --ds_primary: #1E90FF;
  --ds_secondary: #FFC0CB;
} 

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #endregion Common */

/* #region Utility Classes */
.flex {
  display: flex;
}
/* #endregion Utility Classes */

/* #region Header */
.container {
  margin: 1rem 0;
  width: 1140px;
  justify-content: space-between;
  background-color: var(--ds_nav);
}

.debug #app_header {
    justify-content: center;
    align-items: center;
    background-color: #ADD8E6;
}

.debug .container {
    border: 2px dashed var(--ds_dark);
}

nav ul {
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  column-gap: 1rem;
  border-left: 2px dashed var(--ds_dark);
  border-right: 2px dashed var(--ds_dark);
}

nav ul li a{
  text-decoration: none;
  /* padding: .5rem; */
}

#logo {
  justify-content: flex-start;
}

#login {
  justify-content: flex-end;
}

#logo,
#login {
  display: flex;
  align-self: center;
  margin: .7rem .5rem;
  flex-grow: 1;
}
/* #endregion Header */

/* #region Main */
/* #region Blu */
.blue_section {
  background-color: var(--ds_blu-dark);
  height: 20rem;
}

.blue_section .flex_container {
  background-color: var(--ds_lavanda);
  height: 10rem;
}
/* #endregion Blu */

/* #region White */
.white_section {
  display: flex;
}

article {
  display: flex;
}

.blue_div {
  border: 1px dashed var(--ds_dark);
  background-color: var(--ds_primary);
  height: 10rem;
  width: 70%;
}

.pink_div {
  border: 1px dashed var(--ds_dark);
  background-color: var(--ds_secondary);
  height: 10rem;
  width: 30%;
}
/* #endregion White */

/* #endregion Main */

/* #region Footer */
/* #endregion Footer */


